<!-- <h1>StaticPages#imageedit</h1>
<p>Find me in app/views/static_pages/imageedit.html.erb</p> -->

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="center jumbotron">
    <div class="">
      Font size:<input type="number" id="fontsize">
      Font color: <input type="color" name="fontcolor" id="fontcolor" />
    </div>
    <div class="">
      Font size:<input type="number" id="fon">
      Font color: <input type="color" name="fontcolor" id="fontcolor" />
    </div>
    <div class="">
      Background color: <input type="color" name="color1" id="color1" />
    </div>
  </div>
  <div id="switchBoard" class="board">
      <p class="header" id="header">Hello</p>
    </div>
</body>
</html>